<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchPointCounterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TwitchPointCounterApp.Properties.Settings>
            <setting name="clientid" serializeAs="String">
                <value>hrrcjwy1xrr4cholhol9soa12qbi8h</value>
            </setting>
            <setting name="clientsecret" serializeAs="String">
                <value>e8qu5wth73cid27wlp1m4znxdp4hpi</value>
            </setting>
        </TwitchPointCounterApp.Properties.Settings>
    </userSettings>
</configuration>